#nav{
    background: black;
    display: flex;
    color: white;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 500;
    
}
.MuiButton-root{
    color: white !important;
    font-size: 18px  !important;
    height: 50px !important;
    width: 100% !important;
    padding: 0 !important;
    
}

.nav_link{
    text-decoration: none;
    color: white;
    display: block;
    cursor: pointer;
    width: 33%;
    height: 100%;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}
