#nav{
    background: lavender;
    display: flex;
    color: black !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 500;
    
}
.MuiButton-root{
    color: black !important;
    font-size: 18px  !important;
    height: 50px !important;
    width: 100% !important;
    padding: 0 !important;
    
}

.nav_link{
    text-decoration: none;
    color: black;
    display: block;
    cursor: pointer;
    width: 33%;
    height: 100%;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}

.link_menu{
    text-decoration: none;
    color: black;

}

.link_menu:hover{
    color: darkgrey;
    font-size: 20px;
}

.MuiList-root, .MuiList-padding,.MuiButtonBase-root, .MuiListItem-root, .MuiMenuItem-root, .MuiMenuItem-gutters, .MuiListItem-gutters, .MuiListItem-button{
    background: lavender !important;
    color: black !important;
    width:380px;
}